<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="questionapp.rharttech.dev.com.questionapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/superherologo"
        android:label="Superhero Logo Game"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IntroductionActivity"
            android:label="Superhero Logo Game" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="Welcome to my profile!" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Play the game!" >
        </activity>
        <activity
            android:name=".HighScoreActivity"
            android:label="High Scores!" >
        </activity>
    </application>

</manifest>
